@model Don.Sportsstore.Orders.Dto.ShippingDetailsInput

@{
    ViewBag.Title = "SportsStore: Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var test = Model;
}

@section scripts
{
    <script src="~/js/cart/cartCreate.js"></script>

}

<h2>Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "OrderCreationForm"}))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Cart)
    </div>


    @Html.ValidationSummary(true)
    <h3>Ship to</h3>
    <div class="form-group">
        <label>Name</label>
        @Html.TextAreaFor(x => x.Name, new {@class = "form-control", required = ""})

    </div>
    <h3>Address</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap" && property.PropertyName != "Cart")
        {
            if (property.IsRequired)
            {
                //property.IsRequired = false;
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, null, new {@class = "form-control", required = ""})
                    @Html.ValidationMessage(property.DisplayName ?? property.PropertyName)
                </div>
            }
            else
            {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, null, new {@class = "form-control"})
                    @Html.ValidationMessage(property.DisplayName ?? property.PropertyName)
                </div>
            }
        }
    }

    <h3>Options</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Gift wrap these items
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-default" type="submit" value="Complete order"/>
    </div>
}